<h1>Applications</h1>


<div class="row">
  <div class="col-md-8">
  <%= render @applications %>
<%= will_paginate @applications %>
  </div>
  <div class="col-md-4">
    <%# if policy(application.new).create? %>
      <%= link_to "New application", new_user_application_path, class: 'btn btn-success' %>
    <%# end %>
  </div>


</div>
